# testfilen
test_main_local.py
# python compiler filer
__pycache__
*.pyc
# fram capture mappen
video_capture
# local settings
.vscode
# sensor-plotten
plotscript.py
# datavärden
*.txt
# sparade lokala filer
ignored_storage
# scaled .obj files
*scale*.obj
# MIT bilder som referens
MIT_pics