# local python files
*_local*
# python compiler filer
__pycache__
*.pyc
# Media filer
video_capture
imageCapture
agx_screen_0*
*.mp4
*.mp3
# local settings
.vscode
# datavärden
*.txt
# sparade lokala filer
ignored_storage
# ignore all .obj files
*.obj
# Any group files
Grupp*_*
# Ignores data files
*.dat