# local python files
*_local*
# python compiler filer
__pycache__
*.pyc
# fram capture mappen
video_capture
# local settings
.vscode
# datavärden
*.txt
# sparade lokala filer
ignored_storage
# ignore all .obj files
*.obj
# Any group files
Grupp*_*
# Ignores data files
*.dat